.inputForm {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 80%;
   background-color: white;
   height: 50px;
   border-radius: 20px;
}

.inputForm>input {
   background: none;
   border: none;
   flex: 1;
   height: 40px;
   margin-left: 15px;
}

.inputForm>input:focus {
   outline: none;
}

.inputForm button {
   margin-right: 10px;
   border: none;
   background-color: antiquewhite;
   height: 35px;
   width: 55px;
   border-radius: 20px;
}

.inputForm button:focus {
   outline: none;
}