.item {
   display: flex;
   width: 80%;
   height: 40px;
   background-color: white;
   margin: 10px 5px;
   border-radius: 15px;
   align-items: center;
}

.item>p {
   flex: 1;
}

.item--done {
   text-decoration: line-through;
}